[include]
	path = ~/.gitpersonal
[core]
	editor = nvim
[alias]
	st = status
	cm = commit
	sw = switch
	ck = checkout
	br = branch
	graph = log --all --decorate --oneline --graph
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
[init]
	defaultBranch = main
